@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

main{
    display: block;
    justify-items: center;
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(#000000, #0039527d, #000000), url('https://i.postimg.cc/sx36bjgx/banner.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.banner-content{
    display: block;
    justify-items: center;
    width: 100%;
}

.banner-content p{
    width: 510px;
    font-family: 'Raleway', sans-serif;
}

#course-content{
    display: block;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 500px;
    border-top: #33A8DB 1px solid;
}

#course-content p{
    width: 792px;
    font-family: 'raleway', sans-serif;
}

.module-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.module{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 535px;
    height: 51px;
    background: #252525;
    border: 1px solid #33A8DB;
    border-radius: 30px;
    color: #fff;
    gap:5px;
    margin: 25px;
    font-family: 'Raleway', sans-serif;
}

.module span{
    color:#33A8DB;
    font-family: 'Raleway', sans-serif;
}

#professional-challenges{
    display: block;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 740px;
    border-top: #33A8DB 1px solid;
}

#professional-challenges img{
    width: 659px;
    height: 429px;
}

#professional-challenges p{
    width: 792px;
    font-family: 'Raleway', sans-serif;
}


h1{
    color: #33A8DB;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
}

h2{
    color: #33A8DB;
    text-align: center;
    margin-top: 20px;
    width: 760px;
    font-size: 32px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #33A8DB;
    font-family: 'Archivo Black', sans-serif;
}

button{
    color: #33A8DB;
    border: 2px solid #33A8DB;
    background: none;
    width: 326px;
    height: 57px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Archivo Black', sans-serif;
}

#transform-world{
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px; 
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-top: #33A8DB 1px solid;
}

#transform-world p{
    width: 400px;
    font-size: 40px;
    color: #fff;
    text-shadow: #33A8DB 4px 1px 0px;
    text-align: left;
    text-transform: lowercase;
    padding-left: 120px;
    font-family: 'Archivo Black', sans-serif;
}

footer{
    display: block;
    justify-items: center;
    width: 100%;
    height: 170px;
    padding-top: 60px;
    background: linear-gradient(#000000, #00395271), #000000;
    border-top: #33A8DB 1px solid;
}

footer p{
    margin-top: 5px;
}